@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #edf7f6;
}

.page-title {
    margin-top: 30px;
    font-size: 40px;
    color: #1b11e4;
}

.list-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.list {
    list-style: none;
}

.list-item {
    background-color: #ffffff;
    border-bottom: 1px solid #3bb9ff;
    text-align: left;
    margin-left: -40px;
}

.list-item p {
    /* color: #5252d4; */
    color: #121212;
    width: 500px;
    margin: 0px;
    padding: 10px;
    border-left: 1px solid #3bb9ff;
    font-size: 16px;
}

footer {
    margin-top: 50px;
}

.social-icons {
    margin: 10px;
}

.social-icons i {
    display: inline-block;
    margin: 10px;
}

.social-icons a {
    text-decoration: none;
}

.connect-with {
    margin-top: 30px;
}

footer a {
    text-decoration: none;
}

footer a:link, a:visited, a:hover, a:active {
    color: #1b11e4;
}

@media screen and (max-width: 426px) {
    .page-title {
        margin-top: 20px;
        font-size: 30px;
    }
    .list-container {
        margin-top: 20px;
    }
    .list-item p {
        width: 320px;
        font-size: 14px;
        padding: 9px;
    }
    footer {
        margin-top: 35px;
        font-size: 14px;
    }
    .connect-with {
        margin-top: 15px;
    }
}

@media screen and (max-width: 375px) {
    .page-title {
        margin-top: 20px;
        font-size: 30px;
    }
    .list-container {
        margin-top: 15px;
    }
    .list {
        margin-top: 20px;
    }
    .list-item p {
        width: 250px;
        font-size: 14px;
        padding: 9px;
    }
    footer {
        margin-top: 35px;
        font-size: 14px;
    }
    .connect-with {
        margin-top: 15px;
    }
    .social-icons {
        margin-top: 5px;
    }
}

@media screen and (max-width: 320px) {
    .page-title {
        margin-top: 15px;
        font-size: 25px;
    }
    .list-container {
        margin-top: 10px;
    }
    .list {
        margin-top: 12px;
    }
    .list-item p {
        width: 250px;
        font-size: 14px;
        padding: 9px;
    }
    footer {
        margin-top: 20px;
    }
    .connect-with {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .social-icons {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}