@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #1e90ff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #edf7f6;
}

.page-title {
    font-size: 40px;
    color: #1b11e4;
}

.photobooth {
    background: white;
    max-width: 150rem;
    margin: 2rem auto;
    border-radius: 2px;
}

/*clearfix*/

.photobooth:after {
    content: '';
    display: block;
    clear: both;
}

.photo {
    height: 30%;
    width: 30%;
    float: left;
}

.player {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}

/*
    Strip!
  */

.strip {
    padding: 2rem;
}

.strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}

.strip a:nth-child(5n+1) img {
    transform: rotate(10deg);
}

.strip a:nth-child(5n+2) img {
    transform: rotate(-2deg);
}

.strip a:nth-child(5n+3) img {
    transform: rotate(8deg);
}

.strip a:nth-child(5n+4) img {
    transform: rotate(-11deg);
}

.strip a:nth-child(5n+5) img {
    transform: rotate(12deg);
}

.rgb {
    margin: 20px;
    padding: 20px;
    font-size: 15px;
}

.btn {
    background-color: #ffffff;
    /* Green */
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #008CBA;
}

canvas {
    margin-top: 30px;
}

footer {
    margin-top: 50px;
}

.social-icons {
    margin: 10px;
}

.social-icons i {
    display: inline-block;
    margin: 10px;
}

.social-icons a {
    text-decoration: none;
}

.connect-with {
    margin-top: 30px;
}

footer a {
    text-decoration: none;
}

footer a:link, a:visited, a:hover, a:active {
    color: #1b11e4;
}

.rgb-title {
    font-size: 20px;
    margin-bottom: 15px;
}

@media (max-width: 426px) {
    .photo {
        width: 100%;
    }
    .rgb {
        display: block;
    }
}